$b: .server-offline;

$(b) {
    display: flex;

    margin-bottom: 24px;
    padding: 16px;

    border: 1px solid #F62434;
    border-left-width: 8px;
    border-radius: 8px;

    &__icon {
        width: 24px;
        height: 24px;

        margin-right: 16px;

        fill: #F62434;
    }
}
