$b: .cors-info;

$(b) {
    min-height: 128px;

    &__title {
        font-weight: bold;
    }

    &__table {
        width: 100%;

        table-layout: fixed;
    }

    &__cell {
        overflow: hidden;

        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
