$b: .server-settings-text-field;

$(b) {
    &__mode-title {
        margin-right: 39px;

        font-weight: 600;
    }

    &__input {
        min-height: 42px;

        border-radius: 12px;
    }

    &__field &__input_textarea {
        padding: 22px 15px;

        background-color: #F6F6F6;
    }
}
