$b: .middleware;

$(b) {
    &__binary-fields {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__select-contol {
        min-height: 42px;
        margin-bottom: 16px;

        border-radius: 12px;
    }
}
