html {
    font-size: 15px;
    font-family: 'Roboto_Graphik', Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    line-height: 24px;
}

body {
    overflow-x: hidden;
}

button {
    border: none;

    background-color: transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
