$b: .simulations-wrapper;

$(b) {
    &__popup-buttons {
        display: flex;
        justify-content: space-between;
    }

    &__popup-buttons &__popup-button_delete {
        color: var(--base);

        background: var(--fury);

        box-shadow: none;

        &:hover {
            color: var(--base) !important;

            background: var(--warmRedC80) !important;

            box-shadow: none !important;
        }
    }

    &__popup-text {
        word-break: break-word;
    }
}
