$b: .server-settings-button;

$(b) {
    &__button-wrap {
        display: flex;
        justify-content: flex-end;

        padding-top: 32px;
    }

    &__button-text {
        display: block;
        margin-bottom: -2px;
    }
}
