$b: .accordion-wrapper;

$(b) {
    &__root {
        border: none;
    }

    &__title-wrap {
        padding: 8px;

        border-bottom: 1px solid #D8D8D8;
    }

    &__title {
        color: #731982;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }
}
