$b: .login;

$(b) {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-top: 96px;

    &__wrapper {
        text-align: center;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__form {
        max-width: 343px;
        margin: auto;
    }

    &__fields {
        margin-bottom: 24px;
    }

    &__field {
        margin-bottom: 16px;
    }

    &__input {
        width: 300px;
        border-radius: 12px;
    }
}
