$b: .server-settings-cors;

$(b) {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 350px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: rgba(51, 51, 51, 0.5);
        font-weight: 600;
    }

    &__value {
        text-align: end;
    }
}
