$b: .server-settings-cors;

$(b) {
    &__list {
        display: grid;
        border: 1px solid #EEEEEE;
        border-radius: 12px;
        overflow: hidden;
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__td {
        width: 50%;
        padding: 8px 12px;
        border: 1px solid #EEEEEE;
    }

    &__td_title {
        color: rgba(51, 51, 51, 0.5);
        font-weight: 600;
    }
}
